html
  font-size 1em
  font-family "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif

body
  background white url('../image/bg.jpg') no-repeat fixed center top
  background-size cover
  set-font-size(14px)
  color c-gray
  padding-top 15px
  padding-bottom 15px

// Loading
#loading
  display block
  position absolute
  top 0
  left 0
  z-index 100
  width 100vw
  height 100vh
  #loading-area
    width 60px
    height 60px
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    margin auto
// Loading style
.sk-chasing-dots
  margin 40px auto
  width 40px
  height 40px
  position relative
  text-align center
  animation sk-chasingDotsRotate 2s infinite linear
  .sk-child
    width 60%
    height 60%
    display inline-block
    position absolute
    top 0
    background-color #333
    border-radius 100%
    animation sk-chasingDotsBounce 2s infinite ease-in-out
  .sk-dot2
    top auto
    bottom 0
    animation-delay -1s
@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    transform: rotate(360deg)
  }
}
@keyframes sk-chasingDotsRotate {
  100% {
    transform: rotate(360deg)
  }
}
@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    transform: scale(0)
  }
  50% {
    transform: scale(1)
  }
}
@keyframes sk-chasingDotsBounce {
  0%, 100% {
    transform: scale(0)
  }
  50% {
    transform: scale(1)
  }
}

a
  color c-blue
  &:hover
    color c-dark-blue

h1, h2, h3, h4, h5, h6
  color c-dark-gray2
  text-transform uppercase
  font-weight 400

h1
  margin-top 0
  font-weight 400
  set-font-size(28px)

h2
  margin-top 0
  set-font-size(28px)

h3
  set-font-size(20px)

select.form-control, textarea.form-control, input[type="text"].form-control,
input[type="password"].form-control, input[type="datetime"].form-control,
input[type="datetime-local"].form-control, input[type="date"].form-control,
input[type="month"].form-control, input[type="time"].form-control,
input[type="week"].form-control, input[type="number"].form-control,
input[type="email"].form-control, input[type="url"].form-control,
input[type="search"].form-control, input[type="tel"].form-control,
input[type="color"].form-control
  set-font-size(14px)
  color c-dark-gray2

.btn-default
  color c-gray

.btn-default.active, .btn-default.focus,
.btn-default:active, .btn-default:focus,
.btn-default:hover
  color c-dark-gray2

#content
  min-height 300px

.content-wrapper
  //background rgba(255,255,255,0.9)
  background white
  padding 15px
  margin-bottom 6px
  &.cat-wrapper
    background 0
    padding-top 0
    padding-bottom 0
    margin-bottom 0

#logo
  float left
  margin-right 15px
  margin-bottom 15px
  @media (min-width: screen-lg-min)
    margin-bottom 0

.brand-text
  float left
  h2
    margin-top 12px
    set-font-size(28px)
    text-transform capitalize
    font-weight 400

#menu
  background c-blue
  border 0
  border-radius border-radius-base
  margin-bottom 0
  @media (min-width: screen-lg-min)
    float right
  .navbar-header
    cursor pointer
    #category
      text-shadow none
      text-transform uppercase
      font-weight 600
    .btn-navbar
      background c-blue
      box-shadow none
      border 0
      padding-left 0
      padding-right 0
  .navbar-collapse
    .nav
      a
        padding-left 15px
        padding-right 15px
  .nav
    >li
      &:hover
        background c-dark-blue
      >a
        text-shadow none
        set-font-size(14px)
        font-weight 600
        padding 15px 20px
        text-transform uppercase
        &:hover
          background c-dark-blue
    .dropdown
      &.open
        .dropdown-toggle
          background c-dark-blue
      .dropdown-menu
        border 0
        padding 0
        border-radius 0
        min-width 300px
        background c-dark-blue
        a
          color white
          font-weight 600
          display block
          padding 15px
          &:hover
            color white
            background darken(c-blue,30%)

.owl-carousel
  margin-bottom 5px !important
  background transparent !important
  .owl-wrapper-outer
    border 0
    box-shadow none
  .owl-controls
    bottom 0
    height 0
    .owl-pagination
      top -30px
      .owl-page
        span
          border 2px solid transparent
          background white
          box-shadow none
        &.active
          span
            background c-blue

#search
  margin-bottom 15px
  .btn.btn-lg
    background white
    padding-left 15px
    padding-right 15px
    border-color c-light-gray2
    box-shadow none
  .form-control
    border-color c-light-gray2
    &:focus
      box-shadow none
      border-color c-blue

footer
  background 0
  border 0
  margin 0
  padding 0
  color c-text-inverse
  a
    color c-text-inverse
    &:hover
      color white
  .content-wrapper
    background c-dark-gray2
    margin-bottom 0
    h5
      margin-top 5px
      margin-bottom 15px
      set-font-size(20px)
      font-weight 400
    .facebook-plugin
      margin-top 5px
    .follow-us
      .fa
        set-font-size(36px)
        margin-right 5px
    .contact-item
      position relative
      margin-bottom 15px
      .icon
        position absolute
        .fa-map-marker
          set-font-size(18px)
          padding-left 2px
        .fa-envelope
          set-font-size(16px)
        .fa-phone
          set-font-size(16px)
          padding-left 2px
      .info
        padding-left 30px
        address
          margin 0
.powered
  background c-dark-gray3
  p
    margin 0
    padding 15px 0

.fc_carousel
  background 0
  padding-top 0
  padding-bottom 0
  margin 0
  .item
    background white
    margin-bottom 6px

.row-3px
  margin-left -3px
  margin-right -3px
.col-3px
  padding-left 3px
  padding-right 3px

.breadcrumb
  border 0
  border-radius 0
  background white
  margin-bottom 6px
  > li
    padding-left 15px
    padding-right 15px
    &::after
      border-color c-light-gray2

#column-left
  .list-group
    a
      color c-dark-gray2
    .list-group-item
      border-radius 0
      border 0
      text-shadow none
      padding 15px
      &:hover
        background c-light-gray3
      &.active
        background c-blue
        color white

.cat-list-wrapper
  min-height 600px

.product-thumb
  background white
  border 2px solid white
  margin-bottom 15px
  &:hover
    border 2px solid c-blue
  .price
    color c-dark-gray
  .image
    a
      &:hover
        opacity 1
  .caption
    min-height 0
    text-align center
  h4
    text-transform none
    a
     color c-dark-gray2

.featured-header
  margin-bottom 0
  border-left 6px solid c-blue
  h3
    margin 0

.featured-wrapper
  padding-bottom 0

//Form
.btn-lg
  border-radius border-radius-base
.form-control
  box-shadow none
  &.input-lg
    border-radius border-radius-base
//Button
.btn-primary
  border-radius border-radius-base
  border 0
  background c-blue
  box-shadow none
  text-shadow none
  set-font-size(16px)
  text-transform uppercase
  font-weight 400
  height 40px
  padding-left 20px
  padding-right 20px
  &:hover
    background c-dark-blue
