body
  background white url('../image/bg.jpg') no-repeat fixed center top
  background-size cover
  font-family "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size 14px

  #wrapper.container
    background rgba(255,255,255,0.9)
    padding 0
    margin-top 30px
    margin-bottom 30px

  #logo
    float left
    margin-right 10px

  .brand-text
    float left
    margin-bottom 20px
    h2
      margin-top 12px

  #menu
    background c-blue
    border 0
    .nav
      li
        a
          text-shadow none
  .owl-wrapper-outer
    border 0
    box-shadow none
