//color
c-blue                    = #25aae1
c-dark-blue               = darken(c-blue,15%)
c-gray                    = darken(#5a656a,5%)
c-light-gray              = lighten(c-gray,60%)
c-light-gray2             = lighten(c-gray,80%)
c-dark-gray               = darken(c-gray,15%)
c-dark-gray2              = darken(c-gray,50%)

//border radius
border-radius-base        = 3px

//media queries screen
screen-lg-min             = 1200px
screen-md-min             = 992px
screen-sm-min             = 768px
